* {
  font-family: Verdana;
}

ul {
    text-align: right;
}
header {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;

}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine

}

li {
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  padding: 0 10px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0 auto;
    padding: 0;
}
