body {
  font-family: Trebuchet;
  font-size: 17px;
  color: black;
}

p {
    text-align: left;
}

ul {
    text-align: right;

}
header {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  padding: 10px auto;
  margin-right: 5px;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 0;
    justify-content: flex-start;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine
}

header nav {
  padding-right: 40px;
}

li {
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  padding: 0 10px;
}


/* CONTENT  */



.content {
    display: flex;
    width: 1232px;
    margin: 0 auto 60px 0;
    padding-top: 110px;
    /* margin-right: 32px; */
}


/* large left column  */


.column.left {
  display: block
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.lead.img {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

.lead.img p {
  margin-left: 50px;
  padding-top: 50px;
  width: 500px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

/* text */

.column.txt p {
  margin-top: 20px;
  align-items: center;
}

/* boxes */

.bottom.boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 630px;
}

.box1 {
  width: 300px;
}

.box1 h2 {
  font-size: 25px;
  width: 280px;
}

.box2 {
  width: 300px;
}

.box2 h2 {
  font-size: 25px;
  width: 280px;
}

.box3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  width: 300px;
  height: 300px;
}

.box3 h2 {
  padding: 50px 20px;
  align-items: center;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 25px;
  font-weight: bold
}

.box4 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  width: 300px;
  height: 300px;
}

.box4 h2 {
  padding: 50px 20px;
  align-items: center;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 25px;
  font-weight: bold
}

/* medium center column  */

/* .column.mid {
  display: block
  flex-direction: column;
  margin-right: 32px;
} */

.column.center {
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.column.medium {
  width: 300px;
  /* flex-grow: 2; */
}

.center.top {

  padding-top: 0;
  position: relative;
}

.center.top h2 {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
/*


.column.left {
  display: block
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}______________

.medium.bottom.img {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  width: 300px;
  margin-top: 0;
  height: 300px;

  flex-direction: column;

}

.medium.bottom.txt p {

} */



/*

.column.small {
  width: 240px;
} */
